{#
/**
 * @file notice.html.twig
 * Default theme implementation to present Notice data.
 *
 * This template is used when viewing Notice pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_notice()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('notice') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
